@model IEnumerable<Receitas2019.Core.Models.Receita>

@{
    ViewData["Title"] = "Gerenciar Item";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModoDePreparo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempoDePreparo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <textarea cols=60 id="opiniao" rows="10" name="opiniao" maxlength="500" wrap="hard">@item.ModoDePreparo</textarea>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempoDePreparo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagem)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
