@model Receita

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <a asp-controller="Receita" asp-action="Details" asp-route-receitaId="@Model.Id"><img src="@Model.Imagem" class="rounded" alt="" width="300" /></a>
    </div>
    <div class="caption">
        <h3>
            <a asp-controller="Receita" asp-action="Details" asp-route-receitaId="@Model.Id">@Model.Nome</a>
        </h3><br />
        <h5><img width="30" height="30" src="~/images/relogio.png"> @Model.TempoDePreparo </h5>
    </div>
</div>